body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    background: #456990;
    color: #fff;
}

#tabelas {
    display: flex;
    gap: 20px; /* Espaçamento entre as tabelas */
}

.table {
    margin-bottom: 0;
}

h4 {
    font-weight: 500;
    color: #495057;
    text-align: center;
    margin-bottom: 15px;
}

.div-table {
    height: 300px; /* Define altura fixa para as tabelas */
    overflow-y: auto; 
    padding: 10px;
    border-radius: 5px;
}

#arrayDisplay {
    margin-top: 20px;
}

.quadrado {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #F45B69;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#fifoTable td {
    height: 50px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}

